:root {
    --newYellow: #F5E106;
    --compliment1: #061AF4;
    --razzle: #F40691;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

#imageText {
    position: absolute;
    text-align: center;
    top: 30%;
    right: 45%;
}

#imageText h1 {
    font-size: 450%;
    color: var(--newYellow);
}

#imageText h2 {
    font-size: 350%;
}
